
body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-page {
  width: auto;
  display: flex;
  flex-direction: column;
}

.movie-page__title {
  font-size: 48px;
  line-height: 60px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}