.button-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #FDFDFD;
  font-size: 18px;
  line-height: 140%;
  color: #FDFDFD;
}

.button-primary--green {
  background-color: #4EBA85;
}

.button-primary--yellow {
  background-color: #F6C050;
}

.button-primary--blue {
  background-color: #4386D1;
}

.button-primary--red {
  background-color: #EC7D79;
}

.button-primary--purple {
  background-color: #B279EC;
}
