@use '../global/variables.scss' as *;

.popular {
  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.popular__link {
  display: flex;
  flex-direction: column;
}

.popular__image {
  order: -1;
  width: 100%;
  height: auto;
}

.popular__title {
  text-align: center;
}
