.all-movies__wrapper {
  padding-top: 30px;
  /* box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12); */
}

.all-movies__header {
  padding-left: 30px;
}

.all-movies__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 30px;
}

.all-movies__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.all-movies__popular-movie {
  display: flex;
}

.all-movies__list-title {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}

.cast-movies-list__link {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.cast-movies-list__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.cast-movies-list__image {
  width: 50px;
  height: 75px;
  margin-right: 20px;
}

.cast-movies__title {
  font-size: 14px;
  text-align: left;
  color: black;
}

.cast-movies__character {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: black;
}

.cast-movies__rating-date-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cast-movies__rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: -3px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: black;
}

.cast-movies__date {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: black;
}
