.page-content {
  display: flex;
  justify-content: center;
}



.search-field {
  min-height: 40px;
  padding: 5px 10px;
  border: 2px solid darkblue;
  border-radius: 4px;
  font-size: 24px;
  line-height: 36px;
  box-sizing: border-box;
}

.starring-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.starring-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  padding: 5px 10px;
}

.popular-movie__link,
.starring-link {
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}
