.App {
  text-align: center;
  max-width: 1366px;
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-navigation {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-color: beige;
}

.main-logo-link {
  text-transform: uppercase;
  font-size: 48px;
  color: #333333;
  text-decoration: none;
}


.search-field {
  min-height: 40px;
  padding: 5px 10px;
  border: 2px solid darkblue;
  border-radius: 4px;
  font-size: 24px;
  line-height: 36px;
  box-sizing: border-box;
}


.person-page__header {
  display: flex;
  gap: 50px;
}

.person-page__title {
  font-size: 48px;
}
