.keyword__badge {
  &:hover {
    transform: scale(1.02);
    outline: 2px solid skyblue;
  }
  &:focus {
    transform: scale(1.02);
    outline: 2px solid skyblue;
  }
}


.keyword__link:focus .keyword__badge {
  transform: scale(1.02);
  outline: 2px solid skyblue;
  border: none;
}
